body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
	flex-direction: column;
	background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(./img/bg-hero.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	padding: 30px;
	border-radius: 15px;
	margin: 50px 0;
	border: 1px solid rgb(0, 195, 230); 
	background: linear-gradient(rgba(25, 40, 73, 0.9), rgba(7, 14, 32, 0.9));
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: white;
	font-weight: 800;
	font-size: 25px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	font-weight: 600;
	font-size: 15px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	font-weight: 600;
	font-size: 15px;
}
button:hover{
	opacity: .7;
	color:rgb(29, 161, 191);
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
	font-weight: 500;
}
.ca:hover {
	text-decoration: underline;
	color:rgb(29, 161, 191);
} 
.back{
	text-align: end;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
}
.back a{
	color: white;
	text-decoration: none;
}
.back a:hover{
	text-decoration: underline;
	color:rgb(29, 161, 191);
}